<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <meta name="Copyright" content="Copyright &copy; 2012 Sunriser, All rights reserved." />
    <meta name="Author" content="Acuros" />
    <meta name="Description" content="" />
    <meta name="Keywords" name="" />
    <title>{% block title %}{% endblock %}</title>

    <style type="text/css">
    /*<![CDATA[*/
    @import url('/static/css/style.css');
    /*]]>*/
    </style>
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.css" />
    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="header">
        </div>
        <div id="main">
			<div id="menu">
				<ul>
					<li><a href="/">Home</a></li>
				</ul>
			</div>
			<div id="content">
				{% block content %}{% endblock %}
	    	</div>    
		</div>
        <div id="footer">
        </div>
    </div>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="/static/js/jquery.min.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.jqplot.min.js"></script>
	<script language="javascript" type="text/javascript">
	$(document).ready(function(){
		{% block script %}
		{% endblock %}
	});
	</script>
</body>
</html>
